body {
    background-color: white ;
}

p {
    color: rgb(0, 128, 11);
    font-size: 50px;
    background-color: aqua;
}

div {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 4, 0);
}

.fl {
    width: 100%;
    height: auto;
    background: transparent; 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    }
.fl div {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 25, 0);
    padding: 30px;
    }
.fl .d {
    height: 300px;
}